%nav
  .nav-wrapper
    = link_to "", class: "brand-logo" do
      投稿
    %ul
      #nav-mobile.right.hide-on-med-and-down
        %li
          = link_to do
            投稿する
        %li
          = link_to do
            編集する
        %li
          = link_to do
            削除する