= render 'shared/header'
.contents
  .contents__form
    = form_tag model: @tweet do
      %input.text-box{type: "text", name: "text"}
      %input.text-box{type: "text", name: "image"}
      %button.next-btn{type: "submit"}
        投稿する