%nav
  .nav-wrapper
    = link_to root_path, class: "brand-logo" do
      好きなことを投稿しよう
    %ul
      #nav-mobile.right.hide-on-med-and-down
        %li
          = link_to new_tweet_path, class: 'header-text' do
            投稿する
        %li
          = link_to new_tweet_path, class: 'header-text' do
            編集する
        %li
          = link_to new_tweet_path, class: 'header-text' do
            削除する