= render 'shared/chat_header'
.chat-contents#message
  .chat-content#messages
    = render @messages
.footer
  .footer__button
    %input.input-box(type="text" id="chat-input" placeholder="type a message")/
    %button.button#button
      送信