nav {
  height: 70px;
  line-height: 64px;
  color: #fff;
  background-color: #ee6e73;
  width: 100%;
}

.nav-wrapper {
  position: relative;
  height: 100%;
  .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    text-decoration: none;
    font-family: serif;
  }
}

.right {
  float: right !important;
  li {
    transition: background-color .3s;
    float: left;
    padding: 0;
    .header-text {
      transition: background-color .3s;
      font-size: 1rem;
      color: #fff;
      display: block;
      padding: 0 15px;
      cursor: pointer;
      text-decoration: none;
    }
  }
}

span {
  text-decoration: none;
  a {
    text-decoration: none;
    color: white;
  }
}