.side {
  width:300px;
  min-height:422px;
  height:auto ;
  background-color:#ffffff;
  float:right;
  margin-right: 30px;
  margin-top:70px;
  .side1 {
    height: 70px;
    border-bottom: 1px solid black;
    text-align: center;
    padding-top: 18px;
  }
  .side2 {
    height: 70px;
    text-align: center;
    padding-top: 22px;
  }
  .side_text {
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-family: Impact;
  }
}