.brand-logo {
  margin-left: 30px;
}

.main {
  width: 700px;
  margin: 0 auto;
  padding: 15px;
  margin-top: 50px;
  &__contents__top {
    background-color: #ccc;
    text-align: center;
  }
  &__contents__bottom {
    background-color: brown;
    height: 300px;
  }
}